# Epic FHIR Configuration
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
EPIC_TOKEN_URL=https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token
EPIC_CLIENT_ID=your_client_id

# JWKS Authentication (Run generate_keys.py)
EPIC_KID=your_key_id
EPIC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Connector Configuration
PORT=8002
HOST=0.0.0.0
LOG_LEVEL=info
